
/* 노토산스 */
@font-face {
    font-family: "Noto Sans KR";
    font-weight: 350;
    src: url(../fonts/notokr-demilight.eot);
    src: local("notokr-demilight"), url(../fonts/notokr-demilight.eot?#iefix) format("embedded-opentype"), url(../fonts/notokr-demilight.woff) format("woff"), url(../fonts/notokr-demilight.woff2) format("woff2"), url(../fonts/notokr-demilight.ttf) format("truetype");
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 400;
    src: url(../fonts/notokr-regular.eot);
    src: local("notokr-regular"), url(../fonts/notokr-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/notokr-regular.woff) format("woff"), url(../fonts/notokr-regular.woff2) format("woff2"), url(../fonts/notokr-regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 500;
    src: url(../fonts/notokr-medium.eot);
    src: local("notokr-medium"), url(../fonts/notokr-medium.eot?#iefix) format("embedded-opentype"), url(../fonts/notokr-medium.woff) format("woff"), url(../fonts/notokr-medium.woff2) format("woff2"), url(../fonts/notokr-medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "Noto Sans KR";
    font-weight: 700;
    src: url(../fonts/notokr-bold.eot);
    src: local("notokr-bold"), url(../fonts/notokr-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/notokr-bold.woff) format("woff"), url(../fonts/notokr-bold.woff2) format("woff2"), url(../fonts/notokr-bold.ttf) format("truetype");
  }
  /* 라토 */
  @font-face {
    font-family: "Lato";
    font-weight: 300;
    src: url(../fonts/Lato-Light.eot);
    src: local("Lato-Light"), url(../fonts/Lato-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Light.woff) format("woff"), url(../fonts/Lato-Light.woff2) format("woff2"), url(../fonts/Lato-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url(../fonts/Lato-Regular.eot);
    src: local("Lato-Regular"), url(../fonts/Lato-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Regular.woff) format("woff"), url(../fonts/Lato-Regular.woff2) format("woff2"), url(../fonts/Lato-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 700;
    src: url(../fonts/Lato-Bold.eot);
    src: local("Lato-Bold"), url(../fonts/Lato-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato-Bold.woff) format("woff"), url(../fonts/Lato-Bold.woff2) format("woff2"), url(../fonts/Lato-Bold.ttf) format("truetype");
  }
  /* 나눔스퀘어 */
  @font-face {
    font-family: "NanumSquare";
    font-weight: 300;
    src: url(../fonts/NanumSquareL.woff) format("woff");
  }
  @font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    src: url(../fonts/NanumSquareR.woff) format("woff");
  }
  @font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    src: url(../fonts/NanumSquareB.woff) format("woff");
  }
  @font-face {
    font-family: "NanumSquare";
    font-weight: 800;
    src: url(../fonts/NanumSquareEB.woff) format("woff");
  }
  /* @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css'); */
  /* 지마켓 */
  @font-face {
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Gmarket Sans Bold"), local("GmarketSans-Bold"), url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff2") format("woff2"), url("http://script.ebay.co.kr/fonts/GmarketSansBold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 500;
    src: local("Gmarket Sans Medium"), local("GmarketSans-Medium"), url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2") format("woff2"), url("http://script.ebay.co.kr/fonts/GmarketSansMedium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: "Gmarket Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Gmarket Sans Light"), local("GmarketSans-Light"), url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff2") format("woff2"), url("http://script.ebay.co.kr/fonts/GmarketSansLight.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* 경기천년바탕체 */
  @font-face {
    font-family: "GyeonggiBatang";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  /* 경기천년제목체 */
  @font-face {
    font-family: "GyeonggiTitleM";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  /* font-family: 'Noto Sans KR', sans-serif */
  /* 나눔고딕 */
  @font-face {
    font-family: "Jalnan";
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Jalnan.ttf) format("ttf");
    src: url(../fonts/JalnanOTF.otf) format("otf");
  }
  @font-face {
    font-family: "yg-jalnan";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }